.App {
  background-color: #282c34;
  padding: 24px;
  min-height: 100vh;
  color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-size: calc(10px + 2vmin);
}
